@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
  };

  @mixin box-shadow($top, $left, $blur, $color, $inset: false) {
      -webkit-box-shadow: $top $left $blur $color;
      -moz-box-shadow: $top $left $blur $color;
      box-shadow: $top $left $blur $color;
    
  };

  @mixin shift($property: all, $duration: .3s, $ease: linear){
	-webkit-transition: $property $duration $ease;
	-moz-transition: $property $duration $ease;
	-o-transition: $property $duration $ease;
	transition: $property $duration $ease;
}
$primary_font : 'Montserrat', serif;


$primary-color: #ffffff;
$primary-light-shaded: #eff2f7;
$primary-shaded-text: #d1d5da;
$primary-shaded-darker-text: #6c737d;
$primary-text: #3c3c3c;

$secondary-color: #252c33;
$secondary-light-shaded: #2e343b;
$secondary-shaded: #4d565f;
$secondary-text: #ffffff;

$primary-shaded: #eef0f2;
$primary-dark-shaded: #e4e6ea;
$blue: #2c85df;

//spacing

$medium-spacing: 30px;
$extralarge-spacing: 100px;
$large-spacing: 50px;
$small-spacing: 12px;
$min-spacing: 5px;



body{
    margin: 0;
}

.sspace{
    padding: $min-spacing;
}
h1,hr{
    margin:  0;
}
.smallavatar{
    height: 50px;
    width:50px;
    border-radius: 100%;
    padding: $small-spacing;
}
.largeavatar{
    height: 100px;
    width:100px;
    border-radius: 100%;
    padding: $small-spacing;
}
.lightseparator{
    height: 1px;
    background-color: $primary-light-shaded;
    width: 50%;
    border: 0;
    margin: 0 auto;
}
.header{
    font-family: $primary_font;
    //names and messages
    &--main{
        font-size: 15px;
        color: $primary-text;
        font-weight: 600;
    }
    //last message 
    &--subheader{
        font-size: 14px;
        color: $primary-shaded-darker-text;
        font-weight: 500;
    }
    //search and type
    &--subheaderLight{
        font-size: 15px;
        color: $primary-shaded-text;
        font-weight: 500;
    }
    &--secondary{
        font-weight: 500;
        color: $primary-color;
        font-size: 14px;
    }
    &--secondaryShaded{
        font-size: 14px;
        color: $secondary-shaded;
        font-weight: 500;
    }
}
.loader{
    height: 100vh;
    width: 100vw;
    background-color:$secondary-light-shaded;
    display: flex;
    justify-items: center;
    justify-content: center;
    display: none;
    position: fixed;
    z-index: 999;

    &__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    &__anim{
       
        padding: 15px;
        width: 70px;
        height: 70px;
    }
}
.loginform{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$secondary-light-shaded;
    &__container{
width: 500px;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 20px;
    }
    &__header{
        padding: 15px 0 50px 15px;
        color: $secondary-text;
        font-size: 19px;
        align-self: flex-start;
    }
    &__form{
        display: flex;
        width: 75%;
        
        flex-direction: column;
    }
    &__label{
       width: 25%;
       color: $secondary-text;
    }
    &__list, &__input{
        
        width: 70%;
        float: right;
        outline: none;
        padding: $min-spacing;
        border: 0;
        box-sizing: border-box;
        }
        &__input{
            @extend .header;
        @extend .header--subheader;
        padding: 2px;
        font-size: 13px;
        color: black;
        @include placeholder {
            
            font-family: $primary_font;
            font-size: 13px;
            color: $primary-shaded-darker-text;
            font-weight: 500;
        }
        border: 1px solid $primary-light-shaded;
        }
        &__list{
            border: 1px solid $primary-light-shaded;
            padding: 2px;
            font-size: 13px;
            color: black;
        }
    &__group{
        margin-bottom: $medium-spacing;
    }
    &__btn{
        float: right;
        background-color: white;
        color: black;
       width: initial;
        border: none;
        padding: $min-spacing $medium-spacing;
        cursor: pointer;
        &:hover{
            background-color: $secondary-shaded
        }
    }
    &__avatarList{
        border: 1px solid $primary-shaded;
        padding: 5px;
        margin-top: 10px;
        text-align: center
    }
    &__avatar{
        @extend .users__img;
        padding: 5px;
        height: 70px;
        width: 70px;
        cursor: pointer;
        opacity: .65
    }
    &--active{
        opacity: 1;
    }
}
//chat
.appContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    border: 1px solid $primary-shaded;
    overflow: hidden;
    max-height: 100vh;
    position: relative;
}

.users{
    width: 20%;
    background-color: $primary-color;
    @include shift(transform, .4s, ease-out);
    &__list{
        margin-top: $small-spacing;
    }
    &__search{
        height: 45px;
        border-bottom: 1px solid $primary-light-shaded;
        display: flex;
       
    }
    &__user{
        display: flex;
    }
    &__searchinput{
        border: none;
        padding: $small-spacing;
        @extend .header;
        @extend .header--subheaderLight;
        @include placeholder {
            font-family: $primary_font;
            font-size: 15px;
            color: $primary-shaded-darker-text;
            font-weight: 500;
        }
    }
    &__img{
        @extend .smallavatar;
    }
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__mobilebutton{
        display: none;
        z-index:11;
        position: absolute;
        top:0;
        left: 0;
    }
    &__mobileicon{
        width: 25px;
        height: 25px;
        margin: 0 auto;
        padding:10px;
        cursor: pointer;
            background-color: $primary-color;
    
    }
}
.rooms{
    width: 15%;
    background-color: $secondary-color;
    @include shift(transform, .4s, ease-out);
    &__topbar{
        height: 45px;
        border-bottom: 1px solid $secondary-light-shaded;
    }
    &__roomInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__infogroup{
        display: flex;
    }
    &__mobilebutton{
        display: none;
        z-index: 11;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__mobileicon{
        width: 25px;
        height: 25px;
        margin: 0 auto;
        padding:10px;
        cursor: pointer;
            background-color: $secondary-shaded;
           
        
    }
}
.selectroom{
    height: 45px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: $secondary-color;
    @include shift(height, .3s, ease-out);
    &__arrow{
        top:0;
        right: 0;
        position: absolute;
        padding: $small-spacing;
        color: $primary-color;
    }
    &__container{
        height: 180px;
        display: flex;
        flex-direction: column;
    }
    &__option{
        height: 100%;
        box-sizing: border-box;
        padding: $small-spacing;
        &:hover{
            background-color: $secondary-shaded;
        }
    }
}
.activeselect{
    height: 180px;
}

.chat{
    width: 65%;
    overflow-x:hidden;
    background-color: $primary-shaded;
    position: relative;
    &__container{
        height: 80%;
        overflow: auto;
        overflow-x:hidden;
    }
    &__topbar{
        height: 45px;
        width: 100%;
        border-bottom: 1px solid $primary-dark-shaded;
    }
    &__user{
        text-align: center;
        display: inline-block;
        margin-top: -$small-spacing;
    }
    &__messagecontainer{
        margin: $small-spacing;
        display: flex;
        @include shift(transform, .3s, ease-out);
    }
    &__message{
        background-color: $primary-color;
        padding: $small-spacing;
        margin-left: $small-spacing;
        display: inline-block;
        

    }
    &__timestamp{
        padding: $small-spacing
    }
    &__messageblock{
        display: inline-flex;
        flex-direction: column;
        width: 60%;
    }
    &__inputcontainer{
        position: absolute;
        bottom: 0;
        background-color: $primary-color;
        padding: $min-spacing;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;

    }
    &__input{
        padding: $small-spacing;
        border: none;
        background-color: $primary-color;
        @extend .header;
        @extend .header--subheaderLight;
        @include placeholder {
            font-family: $primary_font;
            font-size: 15px;
            color: $primary-shaded-darker-text;
            font-weight: 500;
        }
        width: 100%;
    

    }
    &__icons{
        padding: $small-spacing;
        flex: 1
    }
    &__icon{
        width: 25px;
        height: 25px;
        margin: $min-spacing;
        cursor: pointer;
    }
    &__paragraph{
        word-wrap: break-word;
    }
}
.moved{
    transform: translateX(-25px)
}
.movedinverted{
    transform: translateX(25px)
}
#messageinput{
    flex: 4
}
.messageinverted{
    
    background-color: $blue;
}
.invertedmessage{
    text-align: right;
    justify-content: flex-end;
}

.anim__foreground{
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top:0;
    transform: translateX(0);
    z-index:999;
    background-color: $secondary-color;
    
    @include shift(transform, .4s, ease-out);
}
.anim__on{
    transform: translateX(-100%);
}



$break-large: 1400px;
$break-medium: 1050px;
$break-small: 620px;
@media screen and (max-width: $break-large){
    .users{
        width: 25%;
    }
    .chat{
        width: 60%
    }
}
@media screen and (max-width: $break-small){
    .loginform{
        height: initial;
        
        &__avatar{
            width: 40%;
            height: auto;
        }
        &__container{}
        &__group{
            display: flex;
            flex-direction: column
        }
        &__input, &__list{
            margin-top: 5px;
            width: 100%
        }
    }
    
    .users{
        width: 100vw;
        max-width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        height: 100vh;
        transform: translateX(-100%);
        &__content{
            display: none;
        };
        &__mobilebutton{
            text-align: left;
            display: block
        }
        &__search{
            margin-left: 65px;
        }
    }
    .chat{
        width: 100%;
        &__container{
            padding-top: $small-spacing;
        }
    }
    .rooms{
        width: 100vw;
        max-width: 100vw;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        
        &__mobilebutton{
            text-align: right;
            display: none
        }
        &__roomInfo{
            display: none;
        }
    }
    .selectroom{
        text-align: center;
    }
   
}
@media screen and (max-width: $break-small){

    .chat{
        &__inputcontainer{
            width: 100%;
            padding: 0;
            position: fixed;
        }
    }

}

.mobile__active{
transform: translateX(0)
}
.visibleContent{
    display: block;
    
    
}