@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
  };

  @mixin box-shadow($top, $left, $blur, $color, $inset: false) {
      -webkit-box-shadow: $top $left $blur $color;
      -moz-box-shadow: $top $left $blur $color;
      box-shadow: $top $left $blur $color;
    
  };

$primary_font : 'Montserrat', serif;


$primary-color: #ffffff;
$primary-light-shaded: #eff2f7;
$primary-shaded-text: #d1d5da;
$primary-shaded-darker-text: #6c737d;
$primary-text: #3c3c3c;

$secondary-color: #252c33;
$secondary-light-shaded: #2e343b;
$secondary-shaded: #4d565f;
$secondary-text: #ffffff;

$primary-shaded: #eef0f2;
$primary-dark-shaded: #e4e6ea;
$blue: #2c85df;

//spacing

$medium-spacing: 30px;
$extralarge-spacing: 100px;
$large-spacing: 50px;
$small-spacing: 12px;
$min-spacing: 5px;

.sspace{
    padding: $min-spacing;
}
h1,hr{
    margin:  0;
}
.smallavatar{
    height: 50px;
    width:50px;
    border-radius: 100%;
    padding: $small-spacing;
}
.largeavatar{
    height: 100px;
    width:100px;
    border-radius: 100%;
    padding: $small-spacing;
}
.lightseparator{
    height: 1px;
    background-color: $primary-light-shaded;
    width: 50%;
    border: 0;
    margin: 0 auto;
}
.header{
    font-family: $primary_font;
    //names and messages
    &--main{
        font-size: 15px;
        color: $primary-text;
        font-weight: 600;
    }
    //last message 
    &--subheader{
        font-size: 14px;
        color: $primary-shaded-darker-text;
        font-weight: 500;
    }
    //search and type
    &--subheaderLight{
        font-size: 15px;
        color: $primary-shaded-text;
        font-weight: 500;
    }
    &--secondary{
        font-weight: 500;
        color: $primary-color;
        font-size: 14px;
    }
    &--secondaryShaded{
        font-size: 14px;
        color: $secondary-shaded;
        font-weight: 500;
    }
}

.loginform{
    border: 1px solid $primary-shaded;
    width: 800px;
    margin: $extralarge-spacing auto 0 auto;
    @include box-shadow( 0px,0px, 15px, rgba(0,0,0,0.1));
    &__header{
        padding: $medium-spacing;
    }
    &__form{
        display: flex;
        width: 60%;
        margin: $extralarge-spacing auto;
        flex-direction: column;
    }
    &__label{
       width: 25%;
    }
    &__list, &__input{
        width: 75%;
        float: right;
        outline: none;
        padding: $min-spacing;
        border: 0;
        box-sizing: border-box;
        }
        &__input{
            @extend .header;
        @extend .header--subheader;
        @include placeholder {
            font-family: $primary_font;
            font-size: 15px;
            color: $primary-shaded-darker-text;
            font-weight: 500;
        }
        border: 1px solid $primary-light-shaded;
        }
        &__list{
            border: 1px solid $primary-light-shaded;
        }
    &__group{
        margin-bottom: $medium-spacing;
    }
    &__btn{
        float: right;
        background-color: $secondary-color;
        border: none;
        padding: $min-spacing $medium-spacing;
        cursor: pointer;
        &:hover{
            background-color: $secondary-shaded
        }
    }
}
//chat
.appContainer{
    height: 750px;
    width: 1400px;
    margin: $extralarge-spacing auto 0 auto;
    display: flex;
    @include box-shadow( 0px,0px, 15px, rgba(0,0,0,0.1));
    border: 1px solid $primary-shaded;
}
.users{
    width: 20%;
    background-color: $primary-color;
    &__search{
        height: 45px;
        border-bottom: 1px solid $primary-light-shaded;
        display: flex;
    }
    &__user{
        display: flex;
    }
    &__searchinput{
        border: none;
        padding: $small-spacing;
        @extend .header;
        @extend .header--subheaderLight;
        @include placeholder {
            font-family: $primary_font;
            font-size: 15px;
            color: $primary-shaded-darker-text;
            font-weight: 500;
        }
    }
    &__img{
        @extend .smallavatar;
    }
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.rooms{
    width: 15%;
    background-color: $secondary-color;

    &__topbar{
        height: 45px;
        border-bottom: 1px solid $secondary-light-shaded;
    }
    &__roomInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__infogroup{
        display: flex;
    }
}

.chat{
    width: 65%;
    background-color: $primary-shaded;
    position: relative;
    &__topbar{
        height: 45px;
        width: 100%;
        border-bottom: 1px solid $primary-dark-shaded;
    }
    &__user{
        text-align: center;
        display: inline-block;
        margin-top: -$small-spacing;
    }
    &__messagecontainer{
        margin: $small-spacing;
        display: flex;
    }
    &__message{
        background-color: $primary-color;
        padding: $small-spacing;
        margin-left: $small-spacing;
        display: inline-block;
        

    }
    &__timestamp{
        padding: $small-spacing
    }
    &__messageblock{
        display: inline-flex;
        flex-direction: column;
        width: 60%;
    }
    &__inputcontainer{
        position: absolute;
        bottom: 0;
    }
}
.messageinverted{
    
    background-color: $blue;
}
.invertedmessage{
    text-align: right;
    justify-content: flex-end;
}