@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
body {
  margin: 0; }

.sspace {
  padding: 5px; }

h1, hr {
  margin: 0; }

.smallavatar, .users__img, .loginform__avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  padding: 12px; }

.largeavatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  padding: 12px; }

.lightseparator {
  height: 1px;
  background-color: #eff2f7;
  width: 50%;
  border: 0;
  margin: 0 auto; }

.header, .loginform__input, .users__searchinput, .chat__input {
  font-family: "Montserrat", serif; }
  .header--main {
    font-size: 15px;
    color: #3c3c3c;
    font-weight: 600; }
  .header--subheader, .loginform__input {
    font-size: 14px;
    color: #6c737d;
    font-weight: 500; }
  .header--subheaderLight, .users__searchinput, .chat__input {
    font-size: 15px;
    color: #d1d5da;
    font-weight: 500; }
  .header--secondary {
    font-weight: 500;
    color: #ffffff;
    font-size: 14px; }
  .header--secondaryShaded {
    font-size: 14px;
    color: #4d565f;
    font-weight: 500; }

.loader {
  height: 100vh;
  width: 100vw;
  background-color: #2e343b;
  display: flex;
  justify-items: center;
  justify-content: center;
  display: none;
  position: fixed;
  z-index: 999; }
  .loader__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .loader__anim {
    padding: 15px;
    width: 70px;
    height: 70px; }

.loginform {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e343b; }
  .loginform__container {
    width: 500px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px; }
  .loginform__header {
    padding: 15px 0 50px 15px;
    color: #ffffff;
    font-size: 19px;
    align-self: flex-start; }
  .loginform__form {
    display: flex;
    width: 75%;
    flex-direction: column; }
  .loginform__label {
    width: 25%;
    color: #ffffff; }
  .loginform__list, .loginform__input {
    width: 70%;
    float: right;
    outline: none;
    padding: 5px;
    border: 0;
    box-sizing: border-box; }
  .loginform__input {
    padding: 2px;
    font-size: 13px;
    color: black;
    border: 1px solid #eff2f7; }
    .loginform__input::-webkit-input-placeholder {
      font-family: "Montserrat", serif;
      font-size: 13px;
      color: #6c737d;
      font-weight: 500; }
    .loginform__input:-moz-placeholder {
      font-family: "Montserrat", serif;
      font-size: 13px;
      color: #6c737d;
      font-weight: 500; }
    .loginform__input::-moz-placeholder {
      font-family: "Montserrat", serif;
      font-size: 13px;
      color: #6c737d;
      font-weight: 500; }
    .loginform__input:-ms-input-placeholder {
      font-family: "Montserrat", serif;
      font-size: 13px;
      color: #6c737d;
      font-weight: 500; }
  .loginform__list {
    border: 1px solid #eff2f7;
    padding: 2px;
    font-size: 13px;
    color: black; }
  .loginform__group {
    margin-bottom: 30px; }
  .loginform__btn {
    float: right;
    background-color: white;
    color: black;
    width: initial;
    border: none;
    padding: 5px 30px;
    cursor: pointer; }
    .loginform__btn:hover {
      background-color: #4d565f; }
  .loginform__avatarList {
    border: 1px solid #eef0f2;
    padding: 5px;
    margin-top: 10px;
    text-align: center; }
  .loginform__avatar {
    padding: 5px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    opacity: 0.65; }
  .loginform--active {
    opacity: 1; }

.appContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  border: 1px solid #eef0f2;
  overflow: hidden;
  max-height: 100vh; }

.users {
  width: 20%;
  background-color: #ffffff;
  -webkit-transition: transform 0.4s ease-out;
  -moz-transition: transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out; }
  .users__list {
    margin-top: 12px; }
  .users__search {
    height: 45px;
    border-bottom: 1px solid #eff2f7;
    display: flex; }
  .users__user {
    display: flex; }
  .users__searchinput {
    border: none;
    padding: 12px; }
    .users__searchinput::-webkit-input-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
    .users__searchinput:-moz-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
    .users__searchinput::-moz-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
    .users__searchinput:-ms-input-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
  .users__description {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .users__mobilebutton {
    display: none;
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0; }
  .users__mobileicon {
    width: 25px;
    height: 25px;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff; }

.rooms {
  width: 15%;
  background-color: #252c33;
  -webkit-transition: transform 0.4s ease-out;
  -moz-transition: transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out; }
  .rooms__topbar {
    height: 45px;
    border-bottom: 1px solid #2e343b; }
  .rooms__roomInfo {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .rooms__infogroup {
    display: flex; }
  .rooms__mobilebutton {
    display: none;
    z-index: 11;
    position: absolute;
    top: 0;
    right: 0; }
  .rooms__mobileicon {
    width: 25px;
    height: 25px;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    background-color: #4d565f; }

.selectroom {
  height: 45px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #252c33;
  -webkit-transition: height 0.3s ease-out;
  -moz-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out; }
  .selectroom__arrow {
    top: 0;
    right: 0;
    position: absolute;
    padding: 12px;
    color: #ffffff; }
  .selectroom__container {
    height: 180px;
    display: flex;
    flex-direction: column; }
  .selectroom__option {
    height: 100%;
    box-sizing: border-box;
    padding: 12px; }
    .selectroom__option:hover {
      background-color: #4d565f; }

.activeselect {
  height: 180px; }

.chat {
  width: 65%;
  overflow-x: hidden;
  background-color: #eef0f2;
  position: relative; }
  .chat__container {
    height: 80%;
    overflow: auto;
    overflow-x: hidden; }
  .chat__topbar {
    height: 45px;
    width: 100%;
    border-bottom: 1px solid #e4e6ea; }
  .chat__user {
    text-align: center;
    display: inline-block;
    margin-top: -12px; }
  .chat__messagecontainer {
    margin: 12px;
    display: flex;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .chat__message {
    background-color: #ffffff;
    padding: 12px;
    margin-left: 12px;
    display: inline-block; }
  .chat__timestamp {
    padding: 12px; }
  .chat__messageblock {
    display: inline-flex;
    flex-direction: column;
    width: 60%; }
  .chat__inputcontainer {
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
    padding: 5px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10; }
  .chat__input {
    padding: 12px;
    border: none;
    background-color: #ffffff;
    width: 100%; }
    .chat__input::-webkit-input-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
    .chat__input:-moz-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
    .chat__input::-moz-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
    .chat__input:-ms-input-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
  .chat__icons {
    padding: 12px;
    flex: 1; }
  .chat__icon {
    width: 25px;
    height: 25px;
    margin: 5px;
    cursor: pointer; }
  .chat__paragraph {
    word-wrap: break-word; }

.moved {
  transform: translateX(-25px); }

.movedinverted {
  transform: translateX(25px); }

#messageinput {
  flex: 4; }

.messageinverted {
  background-color: #2c85df; }

.invertedmessage {
  text-align: right;
  justify-content: flex-end; }

.anim__foreground {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(0);
  z-index: 999;
  background-color: #252c33;
  -webkit-transition: transform 0.4s ease-out;
  -moz-transition: transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out; }

.anim__on {
  transform: translateX(-100%); }

@media screen and (max-width: 1400px) {
  .users {
    width: 25%; }

  .chat {
    width: 60%; } }
@media screen and (max-width: 620px) {
  .loginform {
    height: initial; }
    .loginform__avatar {
      width: 40%;
      height: auto; }
    .loginform__group {
      display: flex;
      flex-direction: column; }
    .loginform__input, .loginform__list {
      margin-top: 5px;
      width: 100%; }

  .users {
    width: 100vw;
    max-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    transform: translateX(-100%); }
    .users__content {
      display: none; }
    .users__mobilebutton {
      text-align: left;
      display: block; }
    .users__search {
      margin-left: 65px; }

  .chat {
    width: 100%; }
    .chat__container {
      padding-top: 12px; }

  .rooms {
    width: 100vw;
    max-width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; }
    .rooms__content {
      display: none; }
    .rooms__mobilebutton {
      text-align: right;
      display: block; }
    .rooms__roomInfo {
      display: none; }

  .selectroom {
    text-align: center; } }
@media screen and (max-width: 620px) {
  .chat__inputcontainer {
    width: 100%;
    padding: 0;
    position: fixed; } }
.mobile__active {
  transform: translateX(0); }

.visibleContent {
  display: block; }

/*# sourceMappingURL=style.css.map */
