@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
body {
  height: 100vh;
  overflow: hidden;
  margin: 0; }

.sspace {
  padding: 5px; }

h1, hr {
  margin: 0; }

.smallavatar, .users__img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  padding: 12px; }

.largeavatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  padding: 12px; }

.lightseparator {
  height: 1px;
  background-color: #eff2f7;
  width: 50%;
  border: 0;
  margin: 0 auto; }

.header, .loginform__input, .users__searchinput, .chat__input {
  font-family: "Montserrat", serif; }
  .header--main {
    font-size: 15px;
    color: #3c3c3c;
    font-weight: 600; }
  .header--subheader, .loginform__input {
    font-size: 14px;
    color: #6c737d;
    font-weight: 500; }
  .header--subheaderLight, .users__searchinput, .chat__input {
    font-size: 15px;
    color: #d1d5da;
    font-weight: 500; }
  .header--secondary {
    font-weight: 500;
    color: #ffffff;
    font-size: 14px; }
  .header--secondaryShaded {
    font-size: 14px;
    color: #4d565f;
    font-weight: 500; }

.loginform {
  border: 1px solid #eef0f2;
  width: 500px;
  margin: 100px auto 0 auto;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); }
  .loginform__header {
    padding: 30px; }
  .loginform__form {
    display: flex;
    width: 75%;
    margin: 100px auto;
    flex-direction: column; }
  .loginform__label {
    width: 25%; }
  .loginform__list, .loginform__input {
    width: 70%;
    float: right;
    outline: none;
    padding: 5px;
    border: 0;
    box-sizing: border-box; }
  .loginform__input {
    border: 1px solid #eff2f7; }
    .loginform__input::-webkit-input-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
    .loginform__input:-moz-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
    .loginform__input::-moz-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
    .loginform__input:-ms-input-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
  .loginform__list {
    border: 1px solid #eff2f7; }
  .loginform__group {
    margin-bottom: 30px; }
  .loginform__btn {
    float: right;
    background-color: #252c33;
    border: none;
    padding: 5px 30px;
    cursor: pointer; }
    .loginform__btn:hover {
      background-color: #4d565f; }

.appContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  border: 1px solid #eef0f2; }

.users {
  width: 20%;
  background-color: #ffffff; }
  .users__list {
    margin-top: 12px; }
  .users__search {
    height: 45px;
    border-bottom: 1px solid #eff2f7;
    display: flex; }
  .users__user {
    display: flex; }
  .users__searchinput {
    border: none;
    padding: 12px; }
    .users__searchinput::-webkit-input-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
    .users__searchinput:-moz-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
    .users__searchinput::-moz-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
    .users__searchinput:-ms-input-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
  .users__description {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .users__mobilebutton {
    display: none; }
  .users__mobileicon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer; }
    .users__mobileicon:hover {
      background-color: #eef0f2; }

.rooms {
  width: 15%;
  background-color: #252c33; }
  .rooms__topbar {
    height: 45px;
    border-bottom: 1px solid #2e343b; }
  .rooms__roomInfo {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .rooms__infogroup {
    display: flex; }
  .rooms__mobilebutton {
    display: none; }
  .rooms__mobileicon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer; }
    .rooms__mobileicon:hover {
      background-color: #4d565f; }

.selectroom {
  height: 45px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #252c33;
  -webkit-transition: height 0.3s ease-out;
  -moz-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out; }
  .selectroom__arrow {
    top: 0;
    right: 0;
    position: absolute;
    padding: 12px;
    color: #ffffff; }
  .selectroom__container {
    height: 180px;
    display: flex;
    flex-direction: column; }
  .selectroom__option {
    height: 100%;
    box-sizing: border-box;
    padding: 12px; }
    .selectroom__option:hover {
      background-color: #4d565f; }

.activeselect {
  height: 180px; }

.chat {
  width: 65%;
  background-color: #eef0f2;
  position: relative; }
  .chat__container {
    height: 80%;
    overflow: auto; }
  .chat__topbar {
    height: 45px;
    width: 100%;
    border-bottom: 1px solid #e4e6ea; }
  .chat__user {
    text-align: center;
    display: inline-block;
    margin-top: -12px; }
  .chat__messagecontainer {
    margin: 12px;
    display: flex;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .chat__message {
    background-color: #ffffff;
    padding: 12px;
    margin-left: 12px;
    display: inline-block; }
  .chat__timestamp {
    padding: 12px; }
  .chat__messageblock {
    display: inline-flex;
    flex-direction: column;
    width: 60%; }
  .chat__inputcontainer {
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
    padding: 5px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .chat__input {
    padding: 12px;
    border: none;
    background-color: #ffffff;
    width: 100%; }
    .chat__input::-webkit-input-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
    .chat__input:-moz-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
    .chat__input::-moz-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
    .chat__input:-ms-input-placeholder {
      font-family: "Montserrat", serif;
      font-size: 15px;
      color: #6c737d;
      font-weight: 500; }
  .chat__icons {
    padding: 12px;
    flex: 1; }
  .chat__icon {
    width: 25px;
    height: 25px;
    margin: 5px;
    cursor: pointer; }
  .chat__paragraph {
    word-wrap: break-word; }

.moved {
  transform: translateX(-25px); }

.movedinverted {
  transform: translateX(25px); }

#messageinput {
  flex: 4; }

.messageinverted {
  background-color: #2c85df; }

.invertedmessage {
  text-align: right;
  justify-content: flex-end; }

@media screen and (max-width: 1400px) {
  .users {
    width: 25%; }

  .chat {
    width: 60%; } }
@media screen and (max-width: 1050px) {
  .users {
    min-width: 60px;
    max-width: 60px; }
    .users__content {
      display: none; }
    .users__mobilebutton {
      display: block; }

  .chat {
    width: 100%; }

  .rooms {
    text-align: center;
    min-width: 60px;
    max-width: 60px; }
    .rooms__content {
      display: none; }
    .rooms__mobilebutton {
      text-align: center;
      display: block; } }
@media screen and (max-width: 600px) {
  .chat__inputcontainer {
    width: 100%;
    padding: 0; } }

/*# sourceMappingURL=style.css.map */
